<h1>{{name}}</h1>
<ul>
    <li>Age : {{age}}</li>
    <li>E-mail : {{email}}</li>
    <li>Address : {{address.street}} , {{address.city}} ,{{address.state}}</li>
</ul>
<button (click)="onclick();">Click Me</button>


<h1> Edit User</h1>
<form>
    <div>
        <label for="name">Name: </label>
        <input type="text" [(ngModel)]="name" name="name"><br/><br/>
    </div>
    <div>
        <label for="age">Age: </label>
        <input type="age" [(ngModel)]="age" name="age"><br/><br/>
    </div>
    <div>
        <label for="email">E-mail: </label>
        <input type="email" [(ngModel)]="email" name="email"><br/><br/>
    </div>

    <div>
        <label for="street">Street: </label>
        <input type="text" [(ngModel)]="address.street" name="street"><br/><br/>
    </div>

    <div>
        <label for="city">City: </label>
        <input type="text" [(ngModel)]="address.city" name="city"><br/><br/>
    </div>

    <div>
        <label for="state">State: </label>
        <input type="text" [(ngModel)]="address.state" name="state"><br/><br/>
    </div>
</form>


<h2>Hobbies</h2>
<form (submit)="addHobby(hobby.value)">
    <div>
        <label for="hobby">Hobby: </label>
        <input type="text" #hobby>
    </div>
</form>
<ul>
    <li *ngFor="let items of hobbies; let i = index">{{i+1}} : {{items}}
        <button (click)="deleteHobby(items);">X</button>
    </li>
</ul>